<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="container">

          <div class="masthead clearfix">
            <div class="container inner">
              <nav class="navbar navbar-expand-lg navbar-dark fixed-top mt-4" id="indexNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" action="/logout">Market Connection</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link nav-link-index js-scroll-trigger" href="#about" data-toggle="modal" data-target="#exampleModal2" >Sign In</a>
            </li>   
          </ul>
        </div>
      </div>
    </nav>
            </div>
          </div>
          <div class="inner cover">
            <h1 class="cover-heading text-center">What's Your Home Worth?</h1>
            <p class="lead text-center">Find out what your home is worth along with neighborhood market statistics.</p>
            <form method="POST" action="/" name="address"> 
            <div class = "row">
              <div class = "col-md-2">
              </div>
                <div class = "col-md-7">
                  <div class="form-group">
                    <input id="address" class="form-control places-autocomplete text-center" type="text" placeholder="Enter a location" data-places="input" name="address" autocomplete="address-line1">
                    </div>
                </div>
              <div class = "col-md-1">
                </form>
            <p class="lead">
              <input type="submit" class="btn btn-primary btn-block" value="GO" id="eval" data-toggle="modal" data-target="#exampleModal" data-places="submit">
            </p>
          </div>
        </div>
          <div class = "col-md-2">
          </div>
        </div>
        
      </div>

    </div>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form id="signup" class="signup" name="signup" method="post" action="/signup">  
      <div class="form-body">
      <div class="card-form">
          <div class="modal-title">Sign Up For Your Market Report at <p class = "user-address"></p><input class = "user-address-input" type="hidden">
    </div>
          <div class="form-body">
            <div class="row">
              <input type="text" placeholder="Name*" name="username"/>
            </div>
            <div class="row">
              <input type="email" placeholder="Email Address*"  class="text" name="email" />
            </div>
            <div class="row">
              <input type="password" placeholder="Password*"  class="text" name="password" />
            </div>
          </div>
          <div class="rule"></div>
          <div class="form-footer">
            <input class="btn submit" type="submit" value="Sign Up" />
          </div>
    </form>
        </div>
        </div>
      </div>
    </div>
        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form  id="signin" name="signin" method="post" action="signin">  
      <div class="form-body">
      <div class="card-form">
          <div class="modal-title">Sign In To Your Local Housing Market Report<p class = "user-address"></p>
           </div>
          <div class="form-body">
            <div class="row">
              <input type="email" placeholder="Email Address*"  class="text" name="email" />
            </div>
            <div class="row">
              <input type="password" placeholder="Password*"  class="text" name="password" />
            </div>
          </div>
          <div class="rule"></div>
          <div class="form-footer">
            <input class="btn submit" type="submit" value="Sign In" />
          </div>
        </div>
      </div>
    </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>