<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="container">

          <div class="masthead clearfix">
            <div class="container inner">
              <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Market Connection</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Sign In</a>
            </li>   
          </ul>
        </div>
      </div>
    </nav>
            </div>
          </div>
          <div class="inner cover">
            <h1 class="cover-heading text-center">Whats Your Home Worth?</h1>
            <p class="lead text-center">Fill out your address to get started.</p>
            <form> 
            <div class = "row">
              <div class = "col-md-2">
              </div>
                <div class = "col-md-8">
                  <div class="form-group">
                    <input id="address" class="form-control places-autocomplete text-center" type="text" placeholder="Enter a location" data-places="input" name="address" autocomplete="address-line1">
                    </div>
                </div>
              <div class = "col-md-2">
              </div>
              </div>
                </form method="POST" action="/" >
            <p class="lead">
              <input type="submit" class="btn btn-primary btn-block" value="GO" id="eval" data-toggle="modal" data-target="#exampleModal" data-places="submit">
            </p>
          </div>

        
      </div>

    </div>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign Up For Your Market Report</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3 class = "user-address"></h3>
        <div class="create-account">
    <form id="signup" name="signup" method="post" action="/signup">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="email" />
        <label for="firstname">Firstname</label>
        <input name="firstname" type="text" />
        <label for="lastname">Lastname</label>
        <input name="lastname" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="Sign Up" />
    </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>