<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/logout">ADDRESS</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#value">Home Value</a>
            </li>   
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#details">Property Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#sales">Recent Sales</a>
            </li>                     
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#trends">Price Trends</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#forsale">For Sale</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <div class="container">
<section id="value">
<div class="text-picture">
    <div class="row row--flex">
          <div class="col-sm-6 text-picture__picture">
        <img src="./img/home.png" alt="Image" class="img-responsive home-image" />
      </div>
      <div class="col-sm-6 row--flex__col--center text-picture__text text-center">
        <h2>Estimated Home Value Range</h2>
        <div class = avm>
        <h3 class = "avm-low">$</h3> - <h3 class = "avm-high">$</h3>
        </div>
         <input type="range" min="10" max="1000" step="10" value="300" data-orientation="vertical">
 
      </div>
    </div>
</div>
</section>
<section id="details">
<div class = "row">
  <div class = "col-sm-12 text-left">
    <h2>Property Details</h2>
    <div class="d-flex justify-content-between">
    <h4 class = "beds">Beds:</h4>
    <h4 class = "baths">Baths:</h4>
    <h4 class = "sqft">Square Footage:</h4>
    </div>
    <div class="d-flex justify-content-between">
    <h4 class = "beds">Year Built:</h4>
    <h4 class = "baths">Acres:</h4>
    <h4 class = "sqft">Last Sold For:</h4>
    </div>

  </div>
</div>
</details>
<section id="sales">
<div class="text-picture">
    <div class="row row--flex">
          <div class="col-sm-6 text-picture__picture">
        <img src="./img/location.png" alt="Image" class="img-responsive location-image" />
      </div>
      <div class="col-sm-6 text-center">
        <h2>Recent Sales Near You</h2>
       
      </div>
  </div>
</div>
</section>
<section id="trends">
<div class="text-picture">
    <div class="row row--flex">
      <div class="col-sm-6 row--flex__col--center text-picture__text text-center">
        <h2>Recent Home Sales Price Trends</h2><h4>median average price</h4>
      </div>
                <div class="col-sm-6 text-picture__picture">
        <img src="http://placehold.it/640x340/?text=Image" alt="Image" class="img-responsive home-image" />
      </div>
    </div>
</div>
</section>

</div>
